@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

* {
    margin: 0px auto;
    padding: 0px;
    font-family: 'Figtree', sans-serif;
}

#container {
    background-color: hsl(47, 88%, 63%);
    width: 375px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card {
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    margin: auto;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 15px;
    box-shadow: 6px 6px 0px hsl(0, 0%, 7%);
    padding: 20px 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.image {
    width: 100%;
    border-radius: 10px;
    padding: 0px;
}

.bold {
    font-weight: 800;
}

.text-container {
    padding: 10px;
    display: block;
    align-items: start;
    font-weight: 600;
    font-size: 16px;
}

.text-1 {
    background-color: hsl(47, 88%, 63%);
    color:hsl(0, 0%, 7%);
    border-radius: 5px;
    font-size: 16px;
    margin: 20px 0px;
    padding: 5px;
    width: 70px;
    text-align: left;
    align-items: start;
}

.text-3 {
    margin: 20px 0px;
}

.text-4 {
    color: hsl(0, 0%, 50%);
}

.picture-container {
    display: flex;
    justify-content: flex-start;
    gap: 0px;
    align-items: center;
    margin: 20px 0px;
}

.picture {
    margin-left: 0px;
}

.text-5 {
    margin-left: -90px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}


.attribution a {
    color: hsl(228, 45%, 44%);
}